
body{
  background-color: #f0f0f3;
  padding-top:30px;
}

.aq-margin{
	width:185px;
	margin:0 auto;
}

.aq-margin-bottom{
	margin-bottom:75px;
}

.aq-wrapper{
  margin-top: 30px;
}
.aq-header{
  margin:20px 0;
  padding-left: 30px;
}

.aq-menu{
  display: flex;
  justify-content: space-around;
  width:689px;
  height: 250px;
  margin:150px auto;
}

.aq-menu__item{
  width: 200px;
  height: inherit;
  border: solid 2px black;
  border-radius: 2em;
}

.aq-menu__link{
  height:250px;
}


.aq-list__item{
  list-style: none;
  padding:10px 0;
  text-align: center;
}
